src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:salesforce-case-attachment-api="http://www.mulesoft.org/schema/mule/salesforce-case-attachment-api"
	xmlns:salesforce-case-attachement-api="http://www.mulesoft.org/schema/mule/salesforce-case-attachement-api"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:online-ocrapi="http://www.mulesoft.org/schema/mule/online-ocrapi" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/online-ocrapi http://www.mulesoft.org/schema/mule/online-ocrapi/current/mule-online-ocrapi.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/salesforce-case-attachement-api http://www.mulesoft.org/schema/mule/salesforce-case-attachement-api/current/mule-salesforce-case-attachement-api.xsd
http://www.mulesoft.org/schema/mule/salesforce-case-attachment-api http://www.mulesoft.org/schema/mule/salesforce-case-attachment-api/current/mule-salesforce-case-attachment-api.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<flow name="implementationFlow" doc:id="d8a580d2-644e-477b-a5df-341c13962301" >
		<ee:transform doc:name="Transform Message" doc:id="13e3e453-fa89-4264-b8ed-bad7aa94a2ec">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="docValues"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="34159e8f-b7ac-41ee-96bf-584c176a01a6" message="#['File name: ' ++ vars.docValues.filename]"/>
		<ee:transform doc:name="Transform Message" doc:id="98d69d3d-2aa8-4ca9-901a-381dbc5784c8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://validationnamespace.raml.org
import * from dw::core::Binaries
---
{
	ns0#root: {
		ns0#file1: 
			if (vars.docValues.fileEncoding == 'binary')
				toBase64(vars.docValues.fileContents) as String
			else
				vars.docValues.fileContents as String
		,
		ns0#language: vars.docValues.language,
		ns0#contentType: vars.docValues.contentType,
		ns0#contentTransferEncoding: 'base64',
		ns0#filename: vars.docValues.filename
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<online-ocrapi:create-translate doc:name="Translate Document" doc:id="71d07bb1-b5b4-4bf4-abd0-da63bddf34ab" config-ref="Online_OCR_API_Config" client-id="${secure::ocr_service.client_id}" client-secret="${secure::ocr_service.client_secret}"/>
		<set-variable value="#[lower(payload.text)]" doc:name="Set Variable" doc:id="9a62c5dc-b79f-444c-aa46-469830cb2b6e" variableName="text" />
		<tracking:custom-event doc:name="Checking for document match" doc:id="118372be-782c-4e7d-a807-07868c029016" event-name="Checking for document match">
			<tracking:meta-data key="Keywords" value="#[vars.docValues.keywords]"/>
			<tracking:meta-data key="Language" value="#[vars.docValues.language]" />
			<tracking:meta-data key="Filename" value="#[vars.docValues.filename]" />
			<tracking:meta-data key="Text" value="#[vars.text]" />
			<tracking:meta-data key="Checking document for match step" />
		</tracking:custom-event>
		<scripting:execute engine="groovy" doc:name="Match keywords against text" doc:id="e111d0b0-1efe-4cfd-8993-c19408e1c41b">
			<scripting:code >${file::match.groovy}</scripting:code>
			<scripting:parameters ><![CDATA[#[{
	keywords: vars.docValues.keywords as String,
	text: vars.text
}]]]></scripting:parameters>
		</scripting:execute>
		<logger level="INFO" doc:name="Logger" doc:id="922463c3-5771-4cd3-a635-fe60ee0696aa" message="#['Check result: ' ++ (payload.result == &quot;Match&quot;) ++ ' payload is: ' ++ payload.result]"/>
		<choice doc:name="Choice" doc:id="6bfc7436-7679-4141-8d11-8224ce631438" >
			<when expression='#[payload.result == "Match"]'>
				<ee:transform doc:name="Transform Message" doc:id="f2df2195-dc45-4554-ae4f-3f5b0a463b13">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://validationnamespace.raml.org
import * from dw::core::Binaries
---
{
	ns0#root: {
		ns0#file1: 
			if (vars.docValues.fileEncoding == 'binary')
				toBase64(vars.docValues.fileContents) as String
			else
				vars.docValues.fileContents as String
		,
		ns0#emailAddress: vars.docValues.emailAddress,
		ns0#fileName: vars.docValues.filename,
		ns0#fileEncoding: vars.docValues.fileEncoding
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<salesforce-case-attachment-api:create-attachment doc:name="Create attachment" doc:id="ad846307-67e5-4e3f-89da-2a9a19375aa8" config-ref="Salesforce_Case_Attachment_API_Config" client-id="${secure::sfdc_service.client_id}" client-secret="${secure::sfdc_service.client_secret}"/>
				<ee:transform doc:name="Transform Message" doc:id="dd228ccb-06cf-49a7-97e8-08699f3311d7">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ 
	"status": "submitted"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
201]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="d70ba45d-dc92-4c5d-af7a-8f90c2d70478" message="#[payload]"/>
				<ee:transform doc:name="Transform Message" doc:id="0a2a7e23-1fc0-4447-86e3-8e7ab31a2686" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{ 
	"status": "no action"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
204]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="08d93f89-6310-4ad1-9f20-2bddcadc6db7" >
				<logger level="INFO" doc:name="Logger" doc:id="03c6dff9-2ce5-47ef-be8b-2db0e453c6c6" message="Error: #[error.description], Payload: #[payload]"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
