src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce-case-attachment-api="http://www.mulesoft.org/schema/mule/salesforce-case-attachment-api"
	xmlns:online-ocrapi="http://www.mulesoft.org/schema/mule/online-ocrapi"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/online-ocrapi http://www.mulesoft.org/schema/mule/online-ocrapi/current/mule-online-ocrapi.xsd
http://www.mulesoft.org/schema/mule/salesforce-case-attachment-api http://www.mulesoft.org/schema/mule/salesforce-case-attachment-api/current/mule-salesforce-case-attachment-api.xsd">
	<flow name="implementationFlow" doc:id="a9444326-d157-4fb4-8ace-40dccb409864" >
		<ee:transform doc:name="Transform Message" doc:id="95ecb3b3-0099-4df1-8708-ed59dad863aa">
			<ee:variables>
				<ee:set-variable variableName="docValues"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ee4279cd-b778-43c2-954a-2b0658a61825" message="#['File name: ' ++ vars.docValues.filename]"/>
		<ee:transform doc:name="Transform Message" doc:id="b389cc1e-89ac-42b1-848d-37c258c52615" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://validationnamespace.raml.org
import * from dw::core::Binaries
---
{
	ns0#root: {
		ns0#file1: 
			if (vars.docValues.fileEncoding == 'binary')
				toBase64(vars.docValues.fileContents) as String
			else
				vars.docValues.fileContents as String
		,
		ns0#language: vars.docValues.language,
		ns0#contentType: vars.docValues.contentType,
		ns0#contentTransferEncoding: 'base64',
		ns0#filename: vars.docValues.filename
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<online-ocrapi:create-translate doc:name="Create translate" doc:id="d019cb65-2f5b-4ee3-893e-13487f51a50f" config-ref="Online_OCR_API_Config" client-id="${secure::ocr_service.client_id}" client-secret="${secure::ocr_service.client_secret}" />
		<set-variable value="#[lower(payload.text)]" doc:name="Set Variable" doc:id="fc27828d-e75a-4ec2-b806-1b2e6867365d" variableName="text"/>
		<tracking:custom-event doc:name="Check if match" doc:id="3ee4f859-252e-453c-a5c3-e9f7d6e5adcc" event-name="Check if match">
			<tracking:meta-data key="Text" value="#[vars.text]" />
			<tracking:meta-data key="Step - checking if match" value="Step - checking if match" />
			<tracking:meta-data key="Keywords" value="#[vars.docValues.keywords]" />
		</tracking:custom-event>
		<scripting:execute engine="groovy" doc:name="Match keywords against text" doc:id="3cfbbdce-3513-4eac-8c8b-7d415b7b2658" >
			<scripting:code >${file::match.groovy}</scripting:code>
						<scripting:parameters ><![CDATA[#[{
	keywords: vars.docValues.keywords as String,
	text: vars.text
}]]]></scripting:parameters>
		</scripting:execute>
		<logger level="INFO" doc:name="Logger" doc:id="7c0ea3c8-0173-450b-aac4-c76bdaa4f75a" message="#['Check result: ' ++ (payload.result == 'Match') ++ ' payload is: ' ++ payload.result]"/>
		<choice doc:name="Choice" doc:id="de562b81-edd1-4083-814f-7a8d590bf63a" >
			<when expression='#[payload.result == "Match"]'>
				<ee:transform doc:name="Transform Message" doc:id="71c9fe1e-e4bb-4202-bf62-ac6156cd5013">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://validationnamespace.raml.org
import * from dw::core::Binaries
---
{
	ns0#root: {
		ns0#file1: 
			if (vars.docValues.fileEncoding == 'binary')
				toBase64(vars.docValues.fileContents) as String
			else
				vars.docValues.fileContents as String
		,
		ns0#emailAddress: vars.docValues.emailAddress,
		ns0#fileName: vars.docValues.filename,
		ns0#fileEncoding: vars.docValues.fileEncoding
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<salesforce-case-attachment-api:create-attachment doc:name="Create attachment" doc:id="43609e3d-128a-4a35-9e38-ec72c6ea0a67" config-ref="Salesforce_Case_Attachment_API_Config" client-id="${secure::sfdc_service.client_id}" client-secret="${secure::sfdc_service.client_secret}" />
				<ee:transform doc:name="Transform Message" doc:id="b424939a-841a-48fa-bfc5-e80a99e5049c">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ 
	"status": "submitted"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
201]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="ee889b58-cee5-4f9e-b7aa-50ea4db9bea2" message="#[payload]"/>
				<ee:transform doc:name="Transform Message" doc:id="fcb72ebd-db06-409f-976d-e24844a365f4" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{ 
	"status": "no action"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
204]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
